<div class="row">
    <div class="panel-body">
      <h3>Customer ID</h3>
      <pre><code><span  id="customer_id">{{{id}}}</span></code></pre>
      <h3>Response</h3>
     <pre><code><span  id="customer_response">{{{result}}}</span></code></pre>
     
    </div>
</div>

